body{
    background: #F3F3F3;
    font-family: "roboto";
}

.telaEntrada{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.telaEntrada img{
    width: 130px;
    height: 92px;
    margin: 94px 0 72px 0;
}

.telaEntrada input{
    width: 261px;
    height: 54px;
    margin-bottom: 15px;
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    font-size: inherit;
    text-align: center;
    }

.telaEntrada input::placeholder {
    text-align: center;
    color: #AEAEAE;
}

.telaEntrada button{
    width: 109px;
    height: 45px;
    border: 0 none;
    border-radius: 9px;
    background: #E7E7E7;
    font-size: inherit;
    color: #696969;

}

.topo{
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 22px;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    z-index: 8;
}

.topo ion-icon{
    font-size: 45px;
}

.conteudo{
    margin: 106px 0 84px 0;
    height: calc(100% - 106px - 84px);
}

.caixa-texto{

    display: flex;
    align-items: center;
    border-radius: 2px;
    margin-bottom: 4px;
    flex-wrap: wrap;
    padding: 10px 9px;
    line-height: 22px;
    word-break: break-word;
    
}

.status{
    background: #DCDCDC;
}

.message{
    background: white;
}

.private_message{
    background: #FFDEDE;
}

span{
    margin-right: 10px;

}

.tempo{
    color: #aaa
}

.fundo{
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 18px;
    background: white;
}

.fundo ion-icon{
    font-size: 35px;
}

.fundo input{
    font-size: 18px;
    border: 0px none;
}

textarea{
    width:80%;
    height: 60px;
    border: 0px none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    font-family: "roboto"

}

textarea::-webkit-input-placeholder { 
    color: black;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    font-family: "roboto"

}

textarea::-webkit-input-placeholder::after { 
    color: black;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    font-family: "roboto"

}

.sidebar{
    width: 70%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 11;
    background: white;
    font-size: 16px;
}

.cortina {
    position: fixed;
    z-index: 9; /* put .green-box above .dashed-box */
    background: rgba(0, 0, 0, 0.60);
    width: 30%;
    height: 100%;
    left: 0;
    top: 0;
  }

.sidebar ion-icon{
    font-size: 25px;
    margin-right: 8px;
}

.visibilidade-sidebar ion-icon{
    font-size: 22px;
}

.contato-indiv ion-icon, .visibilidade-indiv ion-icon{
    font-size:15px;
    color: green;
}

.escolha-contato-titulo, .escolha-visibilidade-titulo{
    height: 80px;
    font-weight: 700;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 12px;
    padding: 0 20%;
}

.escolha-contato, .escolha-visibilidade{
    padding: 0 18px;
    height: 400px;
    overflow: scroll;
}

.escolha-visibilidade{
    height:80px;
}

.contato-sidebar, .visibilidade-sidebar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.escolha-visibilidade-titulo{
    height: 66px;
}

.contato-indiv, .visibilidade-indiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.escondido{
    display: none;
}

.selecionado{
    display: initial;
}

.texto-reservado-para{
    font-size: 14px;
    font-weight: 300;
    color:#505050;
}