body{
    background: #F3F3F3;
    font-family: "roboto";
}

.topo{
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 22px;
    margin-bottom:26px;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.topo ion-icon{
    font-size: 45px;
}

.conteudo{
    margin: 106px 0 84px 0;
}

.caixa-texto{
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    margin-bottom: 4px;
    flex-wrap: wrap;
    padding: 0px 9px;
}

.entrar-sair{
    background: #DCDCDC;
}

.mensagem-todos{
    background: white;
}

.mensagem-reservada{
    background: #FFDEDE;
}

span{
    margin-right: 10px;

}

.fundo{
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 18px;
    background: white;
}

.fundo ion-icon{
    font-size: 35px;
}

.fundo input{
    font-size: 18px;
    border: 0px none;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }